{% extends 'base.html.twig' %}

{% block title %}
    {{ 'homepage.title'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'homepage.welcome'|trans }}</h1>
    <p>{{ 'homepage.description'|trans }}</p>

    <a href="{{ path('weather_show') }}">{{ 'homepage.search_link'|trans }}</a>
{% endblock %}